.top-header .logo {
/*	background: #c0392b; */
}
.top-header a .logo.collapsed svg {
	fill: #e74c3c;
}

.top-header > .links > ul > li > a:hover,
.top-header > .links > ul > li a.active {
	border-color: #c0392b;
}

/* Hover & Active States */
.navigation li ul li.active a:after { background-color: #c0392b; }
/*
.navigation .active > a > i,
.navigation > ul > li > a:hover > i {
	color: #c0392b;
}*/
.navigation li ul li a:hover {
	color: #fff;
	background: rgba(192,57,43,0.1);
}
.navigation.collapsed li:hover > a {
	background: rgba(192,57,43,0.1);
}

a, .text-green {
	color: #6d140b;
}
a:hover, a:active {
	color: #c0392b;
}

/* Buttons */
.btn b {
    color: #c0392b !important;
}

.btn.btn-primary {
	color: #c0392b !important;
	border-color: #c0392b;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
	background: #c0392b;
}

.btn.btn-primary:active {
	background: #e74c3c;
}

.progress .bar {
	background: #c0392b;
}

/* Tabs */
ul.nav-tabs, .bordered-select {
	border: 1px solid #c0392b;
	background: rgba(192,57,43,0.5);
}

ul.nav-tabs li a {
  color: #ddd;
	border-right: 1px solid rgba(255,255,255,0.1);
}

ul.nav-tabs li a:hover,
ul.nav-tabs li a:focus,
ul.nav-tabs li a.active {
	color: #fff;
	background: #c0392b;
}
/*
ul.nav-tabs li a.active {
	border-color: #c0392b;
}*/

/* Input */
input:focus, select:focus, textarea:focus {
	border-color: #c0392b;
}

input:hover, select:hover, textarea:hover {
	border-color: #c0392b;
}
input:disabled, select:disabled, textarea:disabled {
	border-color: #ddd;	
}

.customfile-hover .customfile-text {
	border-color: #c0392b;
}

.customfile-hover .browse {
	background: #c0392b;
	color: #fff !important;
}

/* Checkboxes */
.c-checkbox:hover span,
.c-checkbox input:hover + span,
.c-radio:hover span,
.c-radio input:hover + span {
	border-color: #c0392b;
}

input[type=checkbox]:checked + span,
input[type=radio]:checked + span {
	border-color: #c0392b;
/*	background-color: #c0392b; */
}
input[type=checkbox]:checked + span:before,
input[type=radio]:checked + span:before {
	color: #c0392b;
}
input[type=checkbox]:disabled + span:before,
input[type=radio]:disabled + span:before {
	color: #ddd;
}

/* Pure CSS preloader */
.spinner {
	border: solid 1px #c0392b;
	border-color: #c0392b #c0392b transparent transparent;
}

/* Preloader */
#nprogress .bar {background: #c0392b;}

